*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: end;
    background-color: black;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 1.0%;
    gap: 6px;
}
input{
    width: 80%;
    height: 40%;
}
button{
    width: 20%;
    height: 40%;
}
.galeria{
   display: column;
   columns: 4;
   padding: 10px;
   background-color: blue;
}